{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IPEC ChatterBox</title>
    </head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static "Homepage/styles.css" %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
        <header class="fixed-header">
            <nav class="navbar">
                <h1>
                    IPEC ChatterBox
                    {% comment %} IPEC ChatterBox <a href="#sign-in">Sign-in</a> {% endcomment %}
                </h1>
            </nav>
            <p>Chat freely without revealing your identity</p>
            <!-- Add other header content as needed -->
        </header>
        <a href="#bottom">
            <div class="scrolltoBottom">
                <i class="fa fa-chevron-down"></i>
            </div>
        </a>
        <div class="comments-container">
            <ul id="comments-list" class="comments-list">
                {% comment %} {% for user in users %} {% endcomment %}
                {% for message in messages %}
                    <li>
                        <div class="comment-main-level">
                            <!-- Avatar -->
                            <div class="comment-avatar">
                                {% if message.author.gender == 'male' %}
                                    <div class="uid-text-male">#{{ message.author.uid }}</div>
                                {% else %}
                                    <div class="uid-text-female">#{{ message.author.uid }}</div>
                                {% endif %}
                            </div>
                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name by-author">
                                        <a href="">AnonymousUser #{{ message.author.uid }}</a>
                                    </h6>
                                    <span>{{ message.time }}</span>
                                    <i class="fa fa-reply"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="comment-content">{{ message.text }}</div>
                            </div>
                        </div>
                    </li>
                    {% for reply in message.reply_set.all %}
                        <ul class="comments-list reply-list">
                            <li>
                                <!-- Avatar -->
                                <div class="comment-avatar">
                                    {% if reply.author.gender == 'male' %}
                                        <div class="uid-text-male-reply">#{{ reply.author.uid }}</div>
                                    {% else %}
                                        <div class="uid-text-female-reply">#{{ reply.author.uid }}</div>
                                    {% endif %}
                                </div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name">
                                            <a href="">AnonymousUser #{{ reply.author.uid }}</a>
                                        </h6>
                                        <span>{{ reply.time }}</span>
                                        <i class="fa fa-reply"></i>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="comment-content">{{ reply.text }}</div>
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                {% endfor %}
                {% comment %} {% endfor %} {% endcomment %}
            </ul>
        </div>
        <div id="bottom"></div>
        <div class="send-message">
            <div class= "message-elements">
                <form action="{% url "send_message" %}" method="post">
                    {% csrf_token %}
                    <input class="text-box"
                           type="text"
                           placeholder="Send your message"
                           name="message">
                    <button type="submit">Post</button>
                </form>
            </div>
        </div>
    </body>
</html>
